{% extends 'guest/guest.html' %}
{% load crispy_forms_tags %}

{% block content %}

<title>Frequently Asked Questions</title>
<div class="container-fluid">

    <h1><b>Frequenty Asked Questions</b></h1>
    <div class="accordion mt-4 mb-5" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#Q1" aria-expanded="false" aria-controls="Q1">
              <b>How do I log in?</b>
            </button>
          </h2>
          <div id="Q1" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              You can log in to the system by clicking the log in button on the navigation bar positioned at the top of the website.
              The page will then lead you to the log in page which will ask for your log in credentials.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#Q2" aria-expanded="false" aria-controls="collapseThree">
             <b> How do I get an account?</b>
            </button>
          </h2>
          <div id="Q2" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              If you are a resident of barangay Malagutay you cannot own an account in this system
              because the website is meant for the officials and staff of barangay Malagutay. <br><br>If you
              are a staff or official of barangay Malagutay you can ask the admin or other account holders
              to register your account on the system.
            </div>
          </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#Q2-4" aria-expanded="false" aria-controls="collapseTwo">
                <b>What do I do if I forget my password?</b>
              </button>
            </h2>
            <div id="Q2-4" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                On the log in page there will be a link that says forgot password below the password input field.
                You can click this and there will be instructions that tell you how to reset your password. Follow the instructions
                properly and you should be able to reset your password and log back in.
              </div>
            </div>
          </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#Q3" aria-expanded="false" aria-controls="collapseTwo">
                <b>What are the features on this system?</b>
              </button>
            </h2>
            <div id="Q3" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                The system specializes in storing and processing data of residents of barangay Malagutay.
                The system also comes with a data visualization feature to make it easier to gain insights
                on the data gathered. Additionally, the system can also generate documents such as certificates and reports.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#Q4" aria-expanded="false" aria-controls="collapseTwo">
                <b>How can I send my information to the system?</b>
              </button>
            </h2>
            <div id="Q4" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                If you are a resident and you want to send your information to the system you must first
                verify to the barangay officials and staff if you are really not registered to the system.
                <br><br>Your information will be sent to the system in two ways:<br><br>
                <ul>
                    <li>First is that the barangay officials or staff can input your information on their end without you having to do anything.</li>
                    <li class="mt-3">Second is that you can turn in a registration by clicking on the registration button on the navigation menu.
                        You will then be sent to a form page where you need to input the information required.
                        After submission, your form will undergo a validation process where the officials or staff can either accept or decline your registration.
                        An email notification will be sent to your inputted email after validation.
                    </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#Q5" aria-expanded="false" aria-controls="collapseTwo">
                <b>How can I request a certification</b>
              </button>
            </h2>
            <div id="Q5" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                There are two ways you can get a certification on the system:<br><br>
                <ul>
                    <li>First is that you can contact the barangay officials or staff and tell them that you need a certification. 
                        They will take care of everything on their end and you can receive you certification when they inform you.</li>
                    <li class="mt-3">Second is that you can submit a certification request by clicking the certification
                        button on the navigation menu. It will lead you
                        to a page with a form that you need to fill out. You will need your resident code in order to request a certificate. You contact
                        the barangay officials/staff for your code. If you registered by submitting a form on this system then you can refer to the email
                        that was sent to you.
                </ul>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#Q7" aria-expanded="false" aria-controls="collapseTwo">
                <b>Why does it say not eligible when I request a certification</b>
              </button>
            </h2>
            <div id="Q7" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                If an error pops up and says that you are not eligible for a certification, it is possible that you
                have a blotter report case and are blacklisted from receiving any form of certificate.
                You can contact the barangay officials or staff to resolve this issue. When the issue is resolved
                they will take care of things on their end and you should be able to request a certification.
              </div>
            </div>
          </div>
      </div>

</div>
{% endblock content %}