{% extends 'guest/guest.html' %}
{%  load static %}
{% block content %}

<style>
    .carousel-item{
        height: 32rem;
        background: black;
        color: white;
        position: relative;
    }
    
    
    .carousel-item .container{
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 50px;
    }
    .overlay-image{
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        top: 0;
        background-position: center;
        background-size: cover;
        opacity: 0.7;
    }

    .overlay-image02{
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        top: 0;
        background-position: center;
        background-size: cover;
    }
    iframe {
        width: 500;
    }

    @media (min-width: 992px) {
    iframe {
        width: 695;
    }
}

</style>
<title>Home | Barangay Malagutay Management System</title>
<div id="MainCarousel" class="carousel slide" data-ride="carousel" style="background-color: #c86444; ">
    <div class="carousel-inner">

            <div class = "carousel-item active">
            <div class="overlay-image" style="background-image: url('/static/images/main_image02.jpg');">  </div>
            <div class="container" style="text-align: center;">
                <h1>BIENVENIDO!</h1>
                <p>WELCOME TO BARANGAY MALAGUTAY MANAGEMENT SYSTEM</p>
            </div>
            </div>

            <div class = "carousel-item">
            <div class="overlay-image" style="background-image: url('/static/images/main_image06.jpg');"></div>
                <div class="container">
                    <h1>Visit our offical facebook page</h1>
                    <p>Get updated with what's going on in our community by visiting our social media account.<br>
                        Send us a message with your feedbacks or concerns and we'll be sure to reply. <br>Don't forget
                        to leave a like and follow us.
                    </p>
                    <a href = "https://web.facebook.com/barangaymalagutay" class="btn btn-lg btn-primary">Click here to visit</a>
                </div>
                </div>

                <div class = "carousel-item">
                    <div class="overlay-image02" style="background-image: url('/static/images/main_image04.jpg');">  </div>
                    </div>
    </div>
    <a href="#MainCarousel" class="carousel-control-prev" role="button" data-slide="prev">
        <span class="sr-only"></span>
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    </a>
    <a href="#MainCarousel" class="carousel-control-next" role="button" data-slide="next">
        <span class="sr-only"></span>
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
    </a>
</div>
<div class="row mt-3">
    <div class="col-md-4">
        <div class="card text-white bg-info mb-3">
            <div class="card-header" style="text-align: center;"><b>BARANGAY OFFICIALS</b></div>
                <div class="card-body" style="text-align: center;">
                    <h5 class="card-title m-0 p-0">{{Officials_obj.Barangay_Chairman}}</h5>
                    <p class="card-text mb-4 mt-0 p-0" style="color: #f0f0f0;">Barangay Chairman</p>
                    <h5 class="card-title m-0 p-0">{{Officials_obj.Barangay_Secretary}}</h5>
                    <p class="card-text mb-4 mt-0 p-0" style="color: #f0f0f0;">Barangay Secretary</p>
                    <h5 class="card-title m-0 p-0">{{Officials_obj.Barangay_Treasurer}}</h5>
                    <p class="card-text mb-4 mt-0 p-0" style="color: #f0f0f0;">Barangay Treasurer</p>
                    <h5 class="card-title m-0 p-0">{{Officials_obj.SK_Chairman}}</h5>
                    <p class="card-text mb-4 mt-0 p-0" style="color: #f0f0f0;">SK Chairman</p>
                    {% for councilor in Councilors1 %}
                    <h5 class="card-title m-0 p-0">{{councilor}}</h5>
                    <p class="card-text mb-4 mt-0 p-0" style="color: #f0f0f0;">Barangay Councilor</p>
                    {% endfor %}
                    {% for councilor in Councilors2 %}
                    <h5 class="card-title m-0 p-0">{{councilor}}</h5>
                    <p class="card-text mb-4 mt-0 p-0" style="color: #f0f0f0;">SK Councilor</p>
                    {% endfor %}
                </div>
        </div>
    </div>
    <div class="col-md-8">

        <div class="card text-dark mb-3 bg-light">
            <div class="card-header"><b>About</b></div>
            <div class="card-body">
              <h5 class="card-title">Welcome to Barangay Malagutay Management System!</h5>
              <p class="card-text">Barangay Malagutay Management System is a web-based application that aims to help barangay officials manage and monitor
                  the barangay comfortably and conveniently.<br><br>This web-application is accessible to all the staff and barangay officials of barangay Malagutay.
                  Account holders may log in to the system using their credentials.
              </p>
            </div>
        </div>

        <!---->

        <div class="card mb-3">
            <img class="card-img-top" src="{% static 'images/main_image01.jpg' %}" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">About Barangay Malagutay</h5>
              <p class="card-text">
                Malagutay is a barangay in Zamboanga City. Its population 
                represents 0.85% of the total population of 
                Zamboanga City. Malagutay is situated approximately 6.9390, 122.0163, in the 
                island of Mindanao and borders the barangays of San Jose Gusu, Capisan, San Roque,
                Maasin, Sinunoc, and Calarian.
                </p>
            </div>
          </div>
        <div class="container">
            <iframe height="460" style="border:0" loading="lazy" 
            allowfullscreen src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJ8-Adj_VAUDIRpgJSaQIYge4&key=AIzaSyCmy56RDA5uqhqABUjDmKpJ_zRGrv-VPnM"></iframe>
        </div>
    </div><!--Col end-->
</div>
{%  endblock content %}
