<html>
    {% load static %}
    <head>
        <title>Certificate of Indigency</title>
        <style>
            table { -pdf-keep-with-next: true; }
         p { margin: 0; -pdf-keep-with-next: true; }
          p.separator { -pdf-keep-with-next: false; font-size: 6pt; }
        </style>
    </head>
    <body>
            <div style="text-align: center; margin-right: 110px;">
                <img src="static/images/banner.png" height="150px" width="530px">
            </div><br>
          <hr>
          <h1 style="font-size: 34px; text-align: center; font-family: 'Times New Roman', Times, serif;">CERTIFICATION</h1>
            <h1 style="font-size: 25px; font-family: 'Times New Roman', Times, serif;">TO WHOM IT MAY CONCERN: <br></h1>
            <p style="font-size: 20px; font-family: 'Times New Roman', Times, serif;">
                This is to certify that <b>{{Resident_obj.First_name}} {{Resident_obj.Middle_name}} {{Resident_obj.Last_name}}</b>, 
                of legal age, {{Resident_obj.Marital_status}}, is a <b>PERMANENT RESIDENT</b> of {{Resident_obj.Address}}, Barangay Malagutay, Zamboanga City.
                <br><br>
                This certification is issued upon the request of the above mentioned name for whatever legal purposes it may serve.
                <br><br>
                Issued this <b>{{Day_Today}}</b> day of <b>{{Month_Today}}, {{Year_Today}}</b> at Barangay Malagutay, Zamboanga City.<br><br><br><br><br>
            </p>
            <p style="text-align: right; font-size: 20px; font-family: 'Times New Roman', Times, serif;">
                <b>{{Chairman}}</b><br>
                Punong Barangay
            </p>
          </div>

        
    
        
    </body>
</html>