{% extends 'base.html' %}
{%  load static %}
{% block content %}
{% if user.is_authenticated %}
<title>Home | Barangay Malagutay Management System</title>
<div class="container-fluid">
    <div class="row m-0 mb-2 p-0 b-0">
        <div class="col-6">
            <span><h5><i class="bi bi-person-circle"></i> Welcome! {{current_user}}</h5></span>
        </div>
        <div class="col-6">
            <div id = "time" class="float-right" style="font-size: 20px;"></div>
            <div class="float-right mr-2" style="font-size: 20px;">{{today}}</div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="card text-white mb-3" style="max-width: 18rem; background-color: #1f77b4; border-radius: 10%;">
                <div class="card-header">
                <i class="bi bi-people-fill mr-2"></i>RESIDENTS
                </div>
                <div class="card-body">
                {% if TotResident %}
                <h1 class="card-title" style="text-align: center;">{{TotResident}}</h1>
                {% else %}
                <h1 class="card-title" style="text-align: center;">0</h1>
                {% endif %}
                {% if TotResident == 1 %}
                <p class="card-text" style="text-align: center;">Registered Resident</p>
                {% else %}
                <p class="card-text" style="text-align: center;">Registered Residents</p>
                {% endif %}
                <a href="{% url 'residents' %}" class="stretched-link"></a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-white mb-3" style="max-width: 18rem; background-color: #58556d; border-radius: 10%;">
                <div class="card-header"><i class="bi bi-layers-fill mr-2"></i>BLOTTER</div>
                <div class="card-body">
                    {% if TotBlot %}
                    <h1 class="card-title" style="text-align: center;">{{TotBlot}}</h1>
                    {% else %}
                    <h1 class="card-title" style="text-align: center;">0</h1>
                    {% endif %}
                    {% if TotBlot == 1 %}
                    <p class="card-text" style="text-align: center;">Blotter Report Issued</p>
                    {% else %}
                    <p class="card-text" style="text-align: center;">Blotter Reports Issued</p>
                    {% endif %}
                    <a href="{% url 'blotter_display' %}" class="stretched-link"></a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-white mb-3" style="max-width: 18rem; border-radius: 10%; background-color: #45a54a;">
                <div class="card-header"><i class="bi bi-file-earmark-person-fill mr-2"></i>REQUESTS</div>
                <div class="card-body">
                    {% if Regreqs %}
                    <h1 class="card-title" style="text-align: center;">{{Regreqs}}</h1>
                    {% else %}
                    <h1 class="card-title" style="text-align: center;">0</h1>
                    {% endif %}
                    {% if Regreqs == 1 %}
                    <p class="card-text" style="text-align: center;">Registration Request</p>
                    {% else %}
                    <p class="card-text" style="text-align: center;">Registration Requests</p>
                    {% endif %}
                    <a href="{% url 'display_registrations' %}" class="stretched-link"></a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-white mb-3" style="max-width: 18rem; border-radius: 10%; background-color: #45a54a;">
                <div class="card-header"><i class="bi bi-file-earmark-medical-fill mr-2"></i>REQUESTS</div>
                <div class="card-body">
                    {% if Certreq %}
                    <h1 class="card-title" style="text-align: center;">{{Certreq}}</h1>
                    {% else %}
                    <h1 class="card-title" style="text-align: center;">0</h1>
                    {% endif %}
                    {% if Certreq == 1 %}
                    <p class="card-text" style="text-align: center;">Certification Request</p>
                    {% else %}
                    <p class="card-text" style="text-align: center;">Certification Requests</p>
                    {% endif %}
                    <a href="{% url 'display_requests' %}" class="stretched-link"></a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <!--Gender Chart-->
        <div class="col-sm-2 col-md-4  p-3">
            <div class="card shadow-sm">
                <div class="card-body">
                <canvas id="Genderchart" width="400" height="400"></canvas>
                    <script>
                    var label = ["Males","Females"]
                    var Males = parseInt("{{Males}}")
                    var Females = parseInt("{{Females}}")
                    var sampledata = [Males,Females]

                    const ctx = document.getElementById('Genderchart');
                    const myChart = new Chart(ctx, {
                        type: 'pie',
                        data: {
                            labels: label,
                            datasets: [{
                                label: 'Gender Distribution',
                                data: sampledata,
                                backgroundColor: [
                                    'rgba(54, 162, 235, 0.5)',
                                    'rgba(245, 137, 189, 0.5)'
                                ],
                                borderColor: [
                                    'rgba(54, 162, 235, 1)',
                                    'rgba(245, 137, 189, 1)'
                                ],
                                borderWidth: 1
                            }]
                        },
                        options: {
                            responsive: true,
                        }
                        
                    });

                    </script>
                </div>
            </div>
        </div>

        <!--Vaccination Chart-->
        <div class="col-sm-2 col-md-4 p-3">
            <div class="card shadow-sm">
            <div class="card-body">
            <canvas id="Vacchart" width="400" height="400"></canvas>
            
            <script>
            var vaclabel = ["Vaccinated","Unvaccinated"]
            var Vaccinated = parseInt("{{Vaccinated}}")
            var Unvaccinated = parseInt("{{Unvaccinated}}")
            //var vacdata = [Vaccinated,Unvaccinated]
            var vacdata = [
                        {Status: 'Vaccinated',url:'/DisplayVaccinated/',number:{popu: Vaccinated}},
                        {Status: 'Unvaccinated',url:'/DisplayUnvaccinated/',number:{popu: Unvaccinated}}
                    ]

            const con = document.getElementById('Vacchart');
            const Vacchart = new Chart(con, {
                type: 'doughnut',
                data: {
                    labels: vaclabel,
                    datasets: [{
                        label: 'Vaccination Status',
                        data: vacdata,
                        backgroundColor: [
                            'rgba(131,189,85,0.5)',
                            'rgba(75,202,193,0.5)'
                        ],
                        borderColor: [
                            'rgba(131,189,85,1)',
                            'rgba(75,202,193,1)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    parsing: {
                                key: 'number.popu'
                            }
                }
            });
            function ClickHandler(click){
                        const Info  = Vacchart.getElementsAtEventForMode(click,'nearest',{intersect:true},true);
                        if(Info.length){
                            const Selected = Info[0];
                            window.open(Vacchart.data.datasets[Selected.datasetIndex].data[Selected.index].url)
                        }
                    }
                    con.onclick = ClickHandler
            </script>
        </div>
        </div>
        </div>

        <div class="col-sm-2 col-md-4 p-3">
            <div class="card shadow-sm">
            <div class="card-body">
            <canvas id="Agechart" width="400" height="400"></canvas>
            <script>
            var agelabel = ["Kids","Teens","Adults","Seniors"]
            var Kids = parseInt("{{Kids}}")
            var Teens = parseInt("{{Teens}}")
            var Adults = parseInt("{{Adults}}")
            var Seniors = parseInt("{{Senior_Citizens}}")
            var agedata = [Kids,Teens,Adults,Seniors]

            const ages = document.getElementById('Agechart');
            const Agechart = new Chart(ages, {
                type: 'bar',
                data: {
                    labels: agelabel,
                    datasets: [{
                        label: 'Age Distribution',
                        data: agedata,
                        backgroundColor: [
                            'rgba(127, 63, 191, 0.5)',
                            'rgba(93, 191, 191, 0.5)',
                            'rgba(241, 44, 132, 0.5)',
                            'rgba(53, 44, 241, 0.5)'
                        ],
                        borderColor: [
                            'rgba(127, 63, 191, 1)',
                            'rgba(63, 191, 191, 1)',
                            'rgba(241, 44, 132, 1)',
                            'rgba(53, 44, 241, 1)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    },
                    plugins: {
                        legend:{
                            labels: {
                                boxWidth: 0

                            }
                        }
                    }
                }
            });
            </script>
        </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-between mt-2 mb-5">
       <div class="col-lg-6 col-md-6 col-sm-6 float-left">
            <div class="card shadow-sm">
            <div class="card-body">
            <canvas id="Philhealth" width="100" height="100"></canvas>
            <script>
            var phNone = parseInt("{{phNone}}")
            var PhEmployed = parseInt("{{PhEmployed}}")
            var PhVoluntary = parseInt("{{PhVoluntary}}")
            var PhOfw = parseInt("{{PhOfw}}")
            var PhSponsored = parseInt("{{PhSponsored}}")
            var PhIndigent = parseInt("{{PhIndigent}}")
            var PhLifetime = parseInt("{{PhLifetime}}")
            var PhSenior = parseInt("{{PhSenior}}")
            var Phdata = [phNone,PhEmployed,PhVoluntary,PhOfw,PhSponsored,PhIndigent,PhLifetime,PhSenior]
            var phlabel = ['None','Employed','Voluntary','OFW','Sponsored','Indigent','Lifetime','Senior']


            const phealth = document.getElementById('Philhealth');
            const Philhealth = new Chart(phealth, {
                type: 'bar',
                data: {
                    labels: phlabel,
                    datasets: [{
                        label: 'Philhealth Membership',
                        data: Phdata,
                        backgroundColor: [
                            'rgba(244,171,51,0.5)',
                            'rgba(236,113,118,0.5)',
                            'rgba(192,104,168,0.5)',
                            'rgba(92,99,162,0.5)',
                            'rgba(27,78,107,0.5)',
                            'rgba(247, 100, 7, 0.5)',
                            'rgba(5,214,155,0.5)',
                            'rgba(145,191,247,0.5)'


                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    indexAxis: 'y',
                    plugins: {
                        legend:{
                            labels: {
                                boxWidth: 0

                            }
                        }
                    },
                    scales: {
                        y: {
                            beginAtZero: true
                        }

                    }
                }
            });
            </script>
        </div>
            </div>

            
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="card shadow-sm">
            <div class="card-body">
            <canvas id="Marital" width="400" height="400"></canvas>
            <script>
            Single = parseInt("{{Single}}")
            Married = parseInt("{{Married}}")
            Separated = parseInt("{{Separated}}")
            Widowed = parseInt("{{Widowed}}")
            maritaldata = [Single,Married,Separated,Widowed]
            maritallabel =["Single", "Married", "Separated", "Widowed"]

            const mstatus = document.getElementById('Marital');
            const Marital = new Chart(mstatus, {
                type: 'polarArea',
                data: {
                    labels: maritallabel,
                    datasets: [{
                        label: 'Civil Status Demographic',
                        data: maritaldata,
                        backgroundColor: [
                            'rgba(6,214,156,0.5)',
                            'rgba(254,89,129,0.5)',
                            'rgba(128,128,254,0.5)',
                            'rgba(129,192,253,0.5)'
                        ],
                        borderColor: [
                            'rgba(6,214,156,255)',
                            'rgba(254,89,129,255)',
                            'rgba(128,128,254,255)',
                            'rgba(129,192,253,255)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                  }
            });
            </script>
        </div>
            </div>
        </div>
    </div>
</div>
<script>
    function startTime() {
      const today = new Date();
      let hour = today.getHours();
      let minute = today.getMinutes();
      let second = today.getSeconds();
      let suffix = hour >=12 ? 'PM' : "AM";
      hour = hour % 12;
      hour = hour < 10 ? "0" + hour : hour;
      minute = checkTime(minute);
      second = checkTime(second);
      document.getElementById('time').innerHTML =  hour + ":" + minute + " " + suffix;
      setTimeout(startTime, 1000);
    }
    startTime();
    
    function checkTime(i) {
      if (i < 10) {i = "0" + i};  // add zero in front of numbers < 10
      return i;
    }
    </script>
{% endif %}
{%  endblock content %}

