{% extends 'base.html' %}
{%  load static %}


{% block content %}
{% if user.is_authenticated %}
<title>Home</title>
<div class="container-fluid">
<div class="row">
    <div class="col">
        <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
            <div class="card-header">
                RESIDENTS
            </div>
            <div class="card-body">
              {% if TotResident %}
              <h1 class="card-title" style="text-align: center;">{{TotResident}}</h1>
              {% else %}
              <h1 class="card-title" style="text-align: center;">0</h1>
              {% endif %}
              {% if TotBlot == 1 %}
              <p class="card-text" style="text-align: center;">Registered Resident</p>
              {% else %}
              <p class="card-text" style="text-align: center;">Registered Residents</p>
              {% endif %}
            </div>
          </div>
    </div>
    <div class="col">
        <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
            <div class="card-header">BLOTTER</div>
            <div class="card-body">
                {% if TotBlot %}
                <h1 class="card-title" style="text-align: center;">{{TotBlot}}</h1>
                {% else %}
                <h1 class="card-title" style="text-align: center;">0</h1>
                {% endif %}
                {% if TotBlot == 1 %}
                <p class="card-text" style="text-align: center;">Blotter Report Issued</p>
                {% else %}
                <p class="card-text" style="text-align: center;">Blotter Reports Issued</p>
                {% endif %}
            </div>
          </div>
    </div>
    <div class="col">
        <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
            <div class="card-header">VACCINATION</div>
            <div class="card-body">
                {% if VacResidents %}
                <h1 class="card-title" style="text-align: center;">{{VacResidents}}</h1>
                {% else %}
                <h1 class="card-title" style="text-align: center;">0</h1>
                {% endif %}
                {% if VacResidents == 1 %}
                <p class="card-text" style="text-align: center;">Vaccinated Resident</p>
                {% else %}
                <p class="card-text" style="text-align: center;">Vaccinated Residents</p>
                {% endif %}
            </div>
          </div>
    </div>
    <div class="col">
        <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
            <div class="card-header">VACCINATION</div>
            <div class="card-body">
                {% if UnVacResidents %}
                <h1 class="card-title" style="text-align: center;">{{UnVacResidents}}</h1>
                {% else %}
                <h1 class="card-title" style="text-align: center;">0</h1>
                {% endif %}
                {% if UnVacResidents == 1 %}
                <p class="card-text" style="text-align: center;">Unvaccinated Resident</p>
                {% else %}
                <p class="card-text" style="text-align: center;">Unvaccinated Residents</p>
                {% endif %}
            </div>
          </div>
    </div>
</div>


<div class="row">
<div class="col-sm-2 col-md-4  p-1">
<div class="card">
<div class="card-header">Chart</div>
<div class="card-body">
<canvas id="myChart" width="400" height="400"></canvas>
<script>
var label = ["Males","Females"]
var Males = parseInt("{{Males}}")
var Females = parseInt("{{Females}}")

var sampledata = [Males,Females]
const ctx = document.getElementById('myChart');
const myChart = new Chart(ctx, {
    type: 'pie',
    data: {
        labels: label,
        datasets: [{
            label: 'Gender Distribution',
            data: sampledata,
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        },
        responsive: true
    }
    
});
</script>


</div>
</div>
</div>
<div class="col-sm-2 col-md-4 p-1">
    <div class="card">
    <div class="card-header">Chart 2</div>
    <div class="card-body">
    <canvas id="myChart2" width="400" height="400"></canvas>
    <script>
    const con = document.getElementById('myChart2');
    const myChart2 = new Chart(con, {
        type: 'bar',
        data: {
            labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
            datasets: [{
                label: '# of Votes',
                data: [12, 19, 3, 5, 2, 3],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
    </script>
</div>
</div>
</div>
<div class="col-sm-2 col-md-4 p-1">
    <div class="card">
    <div class="card-header">Chart 2</div>
    <div class="card-body">
    <canvas id="myChart3" width="400" height="400"></canvas>
    <script>
    const cons = document.getElementById('myChart3');
    const myChart3 = new Chart(cons, {
        type: 'radar',
        data: {
            labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
            datasets: [{
                label: '# of Votes',
                data: [12, 19, 3, 5, 2, 3],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
    </script>
</div>
</div>
</div>
{% endif %}
{%  endblock content %}

