{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<style>
    .asteriskField{
    display:none
}
</style>
<title>Edit Officals</title>
<div class="container-fluid mb-5">
    <div class="row">
        <div class="col-sm-6 text-center ml-5">
        <a href = "{% url 'users' %}" class="btn btn-success ml-4" role="button" style="padding-left:15px; padding-right:15px;">Go Back</a>
        </div>
        <div class="col-sm-6 justify-content-center mt-4 border rounded shadow-sm" style=" padding: 4%; background-color:white; margin-left: 26%;">
            <h1 class="mb-3" style="text-align: center;"><b>Edit Barangay Officials</b></h1></span>
            <form method = "POST" action="">
                {% csrf_token %}
                {{ form | crispy}}
                <input type = "submit" name ="Submit" value = "Save" onclick = "" class="btn btn-primary">
            </form>
        </div>
    </div>
</div>
{% endblock content %} 