{% extends 'base.html' %}

{% block content %}
<title>Edit Officals</title>
<a href = "{% url 'users' %}" class="btn btn-success ml-3" role="button">Go Back</a>
<h1 class="mb-3" style="text-align: center;"><b>Edit Barangay Officials</b></h1></span>
<div class="row mb-5">
    <div class="col-sm-6 justify-content-center mt-4 border border-dark rounded shadow-sm" style=" padding: 4%; background-color:white; margin-left: 26%;">
        <form method = "POST" action="">
            {% csrf_token %}
            {{ form.as_p }}
            <input type = "submit" name = "Submit" onclick = "">
        </form>
    </div>
</div>
{% endblock content %} 