{% extends 'base.html' %}
{%  load static %}
{% block content %}
<style>
body{
    background-color: #fcfafa !important;
}
.errorlist{
        list-style-type: none;
        color: red;
        margin: 0;
        padding: 0;
        
    }
</style>

<title>Add New User</title>
<span>
<a href = "{% url 'users' %}" class="btn btn-success ml-2" role="button">Go Back</a>
<h1 class="mb-3" style="text-align: center;"><b>Add New User</b></h1></span>

{% if form.errors %}
    <div class = "alert alert-danger alert-dismissible fade show" role = "alert">
        Registration failed. Please ensure registration instructions are followed.
        <button type="button" class="close float-end" data-dismiss="alert" aria-label="Close" style="background-color: Transparent; border-color: transparent;">
            <span aria-hidden="true">✖</span>
          </button>
    </div>
{% endif %}
<div class="border border-dark rounded shadow-lg p-3 mb-5" style="background-color:white">
    <form method = POST>
        {% csrf_token %}
        {{form.non_field_errors}}
        {% for field in form %}
        <div>
        {{field.label_tag}} {{field}} {{field.errors}}
        </div>
        {% endfor %}
        <br>
        <input type = "submit" name = "Submit" onclick = "" value="Add New User" class="btn btn-primary">
    </form>
</div>
{%  endblock content %}