{% extends 'base.html' %}
{%  load static %}
{% load crispy_forms_tags %}
{% block content %}
<style>
body{
    background-color: #fcfafa !important;
}
.errorlist{
        list-style-type: none;
        color: red;
        margin: 0;
        padding: 0;
        
    }
    .asteriskField{
        display:none
    }
</style>

<title>Add New User | Barangay Malagutay Management System</title>
<span>
<a href = "{% url 'users' %}" class="btn btn-success ml-2" role="button">Go Back</a>

<div class="border rounded shadow-lg p-3 mb-5 mt-3" style="background-color:white">
    <h1 class="mb-3" style="text-align: center;"><b>Add New User</b></h1></span>
    <form method = POST>
        {% csrf_token %}
        <div class="form-row">
            <div class="form-group col">
                {{ form.username | as_crispy_field }}
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                {{ form.first_name | as_crispy_field }}
            </div>
            <div class="form-group col-md-6">
                {{  form.last_name | as_crispy_field }}
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col">
                {{ form.email | as_crispy_field }}
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col">
                {{  details.Position | as_crispy_field }}
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                {{ form.password1 | as_crispy_field }}
            </div>
            <div class="form-group col-md-6">
                {{  form.password2 | as_crispy_field }}
            </div>
        </div>
        <div style="text-align: end;">
            <input type = "submit" name = "Submit" onclick = "" value="Add New User" class="btn btn-primary">
        </div>
    </form>
</div>
{%  endblock content %}