{%  extends 'base.html' %}
{% load static %}
{% block content %}
<title>Residents</title>
<style>
    table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
a{
  text-decoration: none;
}

</style>

<h1 style="text-align: center;">List of Registered Residents</h1>
<a href="/resident_form">Add New Resident</a>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Uploadcsv">
     Upload CSV
    </button>

    <!-- Modal -->
    <div class="modal fade" id="Uploadcsv" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form action="" method="POST" enctype="multipart/form-data">
              {% csrf_token %}
              {{form.file_name}}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" value ="Submit" class="btn btn-primary">Save changes</button>
          </form>
          </div>
        </div>
      </div>
    </div>





<form method="POST" action = "{% url 'search_resident' %}">
  {% csrf_token %}
  <input type="search" placeholder="search" name = "q">
  <input type = "submit">
</form>


<table>
    <tr>
        <th>Last Name</th>
        <th>First Name</th>
        <th>Middle Name</th>
        <th>Last Modified</th>
    </tr>

    {% for res in Resident_obj %}
    <tr>
        <td><a href="{% url 'resident_profile' res.id %}">{{res.Last_name}}</a></td>
        <td><a href="{% url 'resident_profile' res.id %}">{{ res.First_name }}</a></td>
        <td><a href="{% url 'resident_profile' res.id %}">{{ res.Middle_name}}</a></td>
        <td>{{res.modified_date}}</td>
        <td><a href="{% url 'update_resident' res.id %}">Edit</a></td>
        <td><a href="{% url 'delete_resident' res.id %}">Delete</a></td>
    </tr>
     {% endfor %}
</table>

{% endblock content %}