{%  extends 'base.html' %}
{% load static %}
{% block content %}

<style>
    table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

</style>

<h1 style="text-align: center;">List of Registered Residents</h1>
<a href="/resident_form">Add New Resident</a>
<input type="text">
<input type = "submit" name="search">

<table>
    <tr>
        <th>Full Name</th>
        <th>Date Added</th>
        <th>Last Modified</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>

    {% for res in Resident_obj reversed %}
    <tr>
        <td><a href="">{{ res.First_name }} {{ res.Middle_name}}  {{res.Last_name}}</a></td>
        <td>{{res.created_date}}</td>
        <td>{{res.modified_date}}</td>
        <td><a href="{% url 'update_resident' res.id %}">Edit</a></td>
        <td><a href="{% url 'delete_resident' res.id %}">Delete</a></td>
    </tr>
     {% endfor %}
</table>
{{Res2.pic}}
{% endblock content %}