{%  extends 'base.html' %}
{% load static %}
{% block content %}
<style>
  thead {
    background-color: #c86444;
    border-color: none;
    color: white;
  }
  tr[data-href]{
    cursor: pointer;
  }
</style>
<title>View Blotter Reports</title>
{{sec}}
<h1 style="text-align: center;"><b>Blotter List</b></h1>
  <div class="container-fluid mt-5 mb-5">
        <table class = "table table-bordered table-hover mt-2 mb-5" id="Display" style="background-color: rgb(255,255,255,0.8)">
          <thead>
              <tr>
                <th>Complainant</th>
                <th>Offender</th>
                <th>Entry Date</th>
                <th style="text-align: center;">View Report</th>
                <th style="text-align: center;">Delete</th>
            </tr>
          </thead>
    
          <tbody>
                {% for blot in Blotter_obj %}
                <tr>
                  <td>{{blot.Complainant}}</td>
                  {% if blot.Unregistered == True %}
                  <td>{{blot.Offender_unregistered}}</td>
                  {% else %}
                  <td>{{blot.Offender}}</a></td>
                  {% endif %}
                  <td>{{blot.created_date}}</td>
                  <td style="text-align: center;"><a href="{% url 'blotter_details' blot.id %}" target="_blank" class="btn btn-primary" role="button">View Report</a></td>
                  <td style="text-align: center;">
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modal-{{ blot.id }}">
                      Delete
                  </button>
                  
                  <!-- Modal -->
                  <div class="modal fade" id="modal-{{ blot.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered" role="document">
                      <div class="modal-content">
                          <div class="modal-header mx-auto">
                          <h5 class="modal-title" id="exampleModalLongTitle"><b>CONFIRM DELETE</b></h5>

                          </button>
                          </div>
                          <div class="modal-body">
                          <h5>Are you sure you want to archive this report?</h5>
                          </div>
                          <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">NO</button>
                          <a href="{% url 'delete_report' blot.id %}" role="button" class="btn btn-danger">YES</a>
                          </div>
                      </div>
                      </div>
                  </div>
                  </td>
                </tr>
                {% endfor %}
          </tbody>
        </table>
    
        <script>
          $(document).ready(function() {
              $('#Display').DataTable({
                  order: [[0, 'asc']],
                  pagingType: 'full_numbers'
            
              });
          });
        </script>
    </div>









<!--
<table>
    <tr>
        <th>Blotter Report</th>
        <th>Offender</th>
        <th></th>
    </tr>

    {% for blot in Blotter_obj reversed %}
    <tr>
        <td><a href="{% url 'blotter_details' blot.id %}">Complaint from: {{blot.Complainant}}</a></td>
        {% if blot.Unregistered == True %}
        <td>{{blot.Offender_unregistered}}</td>
        {% else %}
        <td>{{blot.Offender}}</a></td>
        {% endif %}
        <td><a href="{% url 'delete_report' blot.id %}">Delete</a></td>
    </tr>
     {% endfor %}
</table>-->

{% endblock content %}