{%  extends 'base.html' %}
{% load static %}
{% block content %}
<style>
  thead {
    background-color: #c86444;
    border-color: none;
    color: white;
    
  }
  tr[data-href]{
    cursor: pointer;
  }
</style>
<title>Add Blotter</title>
<h1 style="text-align: center;"><b>List of Registered Residents</b></h1>
<div class="container-fluid mt-5 mb-5">

<!-- <form method="POST" action = "{% url 'blotter_search_resident' %}">
  {% csrf_token %}
  <input type="search" placeholder="search" name = "q">
  <input type = "submit">

</form> --->

<a href = "{% url 'blotter_form_unregistered' %}" class="btn btn-info mb-3" role="button">Report Unlisted Resident</a>
    <table class = "table table-bordered table-hover mt-2 mb-5" id="Display">
      <thead>
          <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th style="text-align: center;">&nbsp;</th>
        </tr>
      </thead>

      <tbody>
            {% for res in Resident_obj %}
            <tr data-href="{% url 'resident_profile' res.id %}">
              <td>{{res.First_name}}</td>
              <td>{{ res.Last_name }}</td>
              <td style="text-align: center;"><a href="{% url 'blotter_form' res.id %}" class="btn btn-primary" role="button">Issue Report</a></td>
            </tr>
            {% endfor %}
      </tbody>
    </table>

    <script>
      $(document).ready(function() {
          $('#Display').DataTable({
              order: [[0, 'asc']],
              pagingType: 'full_numbers',
              
        
          });
        $('#Display').on("click",'tbody tr', function (){
          const rows = document.querySelectorAll('tr[data-href]');
          rows.forEach(row => {
            row.addEventListener("click", () => {
              window.location.href = row.dataset.href;
            });
          });
        });
      });
    </script>
</div>
{% endblock content %}